
header {
  display: flex;
  background: #Edf0f4;
  border: 2px solid #e5e5e5;
  /**  background:rgb(207, 207, 207);*/

  
}

.main {
  display: flex;
}

footer{
  height: 200px;
  background-color: #283a5e;
  color: #e5e5e5;
  /*background: rgba(216, 142, 142, 0.281);*/
}

.logo{
  max-width: 100%;
  padding: 10px;
  }

  .divlogo{
    width: 9%;
  }

.iconos{
  height: 100px;
  width: 50px;

  margin-left: 11px;
  margin-top: 20px;

  max-width: 100%;
  padding: 10px;
}

.listiconos{
    display: flex;

    /* margin-left: 75%; */
}

.funciones{
  /*
  justify-content: center;
  align-items: center;
   */

  box-shadow:0 0 0 4em #6eb4d8;
  margin: 4em;
  padding:1em;  text-align: center;


  height: 570px;
  width: 15%;
  margin-right: 5%;
  background-color: #96a2bb;
  /* background-color: rgba(223, 233, 240, 0.774); */
}

.perfil{
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.perfil .imgusuario{
  height: 100%;
  width: 100%;
}

.principal{
  color: brown;
  align-content: center;

  margin-left: 10%;
  margin-top: 4%;
  height: 700%;
  /* left: 80%; */
  /* padding: 4%; */
}



/*  css de ruta Estudiante*/

 .funcionesRuta{/**no usada
  text-align: center;
  height: 70%; /** la altura se tomo en base a lo que meta dentro */
  width: 20%;
  border: solid;
  margin-right: 5%;

}

.principalRuta{
  border: solid;
  color: brown;
  align-content: center;
  padding: 4%;

  height: 70%;
  left: 80%;
}

.imgruta{
  height: 90%;
  width: 80%;
}

.principalInstitucion{
  color: brown;
  align-content: center;
  padding: 4%;
  height: 70%;
  left: 80%;

  margin-left: 10%;
  margin-top: 4%;
  height: 700%;
}

.principalPago{
  border: solid;
  color: brown;
  align-content: center;
  padding: 3%;
  height: 70%;
  left: 80%;
}


.textoyo{
 /*
  text-align: right;
  line-height: 30px; */
  width: 80%;
}

.form_reg{
  text-align: center;
  border: none;
  width: 30%;
  box-shadow: #6eb4d8;
  background: white;
  backdrop-filter: 5px;
  color: #283a5e;
}


/* estilos de isntitucion*/



