
body, html{
    height: 100%;
    background:linear-gradient(to right, #ec2F4B,#009FFF);
    font-family:sans-serif;
  }
  .body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  form{
    position: absolute;
    min-width: 350px;
    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    background:white;
    backdrop-filter: 5px;
    color: rgb(15, 15, 15);
  }
  h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    text-align: center;
  }
  h1::after{
    content: "";
    position: absolute;
    height: 1px;
    border-radius: 3px;
    background-color: black;
    width:180px;
    bottom: 0;
    margin: 0;
    transform: translate(-100%, -50%);
  }
  input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 7px 6px;
    margin-bottom: 15px;
    border: none;
    outline:none;
    border-bottom: 2px solid black;
    background: transparent;
    cursor: pointer;
    transition: 0.25s;
    
  }
  
  .acuerdo{
    text-align: center;
    margin-bottom: 1px;
    font-size: 15px;
  
  }
  button{
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    background: linear-gradient(177deg, rgb(255, 255, 255), rgb(58, 154, 160));
    border: none;
    cursor: pointer;
    border-radius: 20px;
  
  }
  .link{
    text-align: center;
    margin-top: 15px;
    font-weight: 50px;
  }
  
  