
    body{
      background: #000;
     background: url(images/tec2.jpg )
    }

   /*Encabezado */
    header {
     background-image: url(images/banner6.jpg);
     background-size:cover;
     height:250px;
	   overflow: hidden;
    }
    
    p{
      color: 0;
      font-style: unset;
      font-family: cursive;
    }

    .tabla {
    display: table;
    width: 1200px;
    margin: 0 auto;
    }

    #logo{
    color:rgb(219, 41, 41);
    vertical-align: middle;
    }

    #titulo{
      font-family: arial,helvetica;
      font-size: 1em;
      margin-left: 80px;
      font-weight: bold;
      line-height: 1em;
      
    }
    
    #titulo2{
      font-family: arial,helvetica;
      font-size: 5em;
      margin-left: 165px;
      font-weight: bold;
      line-height: 1em;
      -webkit-text-stroke: 2px white;
    }
    
    #titulo3{
      font-family: arial,helvetica;
      font-size: 5em;
      margin-left: 220px;
      font-weight: bold;
      line-height: 1em;
      -webkit-text-stroke: 2px white;
    }

    #logo2{
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      
    }

    #logo2 .logotim{
      height: 150px;
      width: 150px;
    }


    nav {
      background-color: rgb(252, 115, 35);
      height: 30px;
      font-family: "sena";
    }

    .navegacion{
      display: table;
      width: 1200px;
      margin: 0 auto;
    }

    .celda {
      display: table-cell;
      border: solid;
      }  

    #menu li {
      display: inline-block;
      margin-right: 20px;
    }

    #menu a {
      text-decoration: none;
      color: white;
    }

    #menu a:hover {
      color: brown;
    }

    .infoprincipal{
      display: table;
      width: 1200px;
      margin: 0 auto;
      border: solid;
    }

    section {
      width: 50%;
      padding: 50px;
      background-color: #ffffff;
      float: left;
    }

    .articulos {
      display: table-cell;
      border: solid;
      height: 100%;
    }

    .objetivo {
      background-color: 0;
    }

    .carrucelimg{
      height: 30%;
      width: 30%;
    }
    
    .celda {
    display: table-cell;
    border: solid;
    }

    #mision {
      background-color:0;
      padding: 2px;
    }

    #vision {
      background-color: 0;
      padding: 2px;
    }

    aside {
      float: left;
      width: 470px;
      height: 450px;
    }

    .celda_sesion{
      text-align: center;
      /*display: table-cell;
      border: solid;*/
      height: 100%;
      margin: 5.0%;
    }

    #form1 {
      width: 400px;
      margin-left: 40px;
      margin-top: 30px;
      text-align: center;
      border-radius: 20px;
      border: solid;
      color:rgb(252, 115, 35);
    }

    .misionVision{
      text-align: center;
      border: 0;
      padding: 3px;
      width: 90%;
      height: 10%;
      margin-left: 20px;
      margin-top: 30px;
    }

    footer {
      height: 30px;
      background-color: rgb(35, 130, 18);
      font-size: medium;
      color: #fff;
      text-align: center;
      font-family: "sena";
    }

    .piePag{
      max-width: 1205px;
      min-height: 200px;
      background: #000;
      margin: 0 auto;
      border-radius: 0 0 20px 20px;
      color: #fff;
      text-align: center;
      padding: 30px;
      box-sizing: border-box;
      font-family: Arial;
      font-size: 18px;
    }

    .piePag2 {
      display: table;
      width: 1200px;
      margin: 0 auto;
    }

    .piePagParrafo{
      display: table-cell;
      border: solid;
    }

    .formularios{
      text-align: center;
    }

