
    body,html{
    height: 100%;
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, #ec2F4B,#009FFF);

    }
    .body{
      width: 100%;
    height: 100vh;
      width: 200;
      height: 200;
      margin: 0;
      padding: 0;
      background: #000;
      display: flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content: center;
      align-items: center;
    }

    .pad{
      background-color: #000;
      padding: 0;
      margin: 0;
    }

    .color{
      right:50;
      background: linear-gradient(177deg, rgb(255, 255, 255), rgb(58, 154, 160));
      padding: 0;
      margin: 0;


    }
    .logo{
      
     margin: 0;
     padding:0;
     justify-content: center;
     width: 170px;
     height: 200px;
     text-align: center;
     flex-direction:row;
      flex-wrap:wrap;
      text-align: center;
     

    }
    .container1{
     padding: 100px;
      
      flex-wrap:wrap;
      text-align: center;
      
      

    }
    
    .img{
      width: 150px;
      height: 150px;
      flex-direction:row;
      flex-wrap:wrap;
      text-align: center;
     
      
    
    }
    .login{
      
      background-color:#E5E5E5;
      padding: 0;
      margin-left: 0;
      border: 0px;
      right:50;
      border:0;
      min-width: 350px;
      max-width: 25%;
      top: 50%;
      left: 50%;
      
      justify-content: center;
      align-items: center;
    }
   
    .email{
border-bottom: 1px solid;
outline: none;
height: 40px;
      cursor: pointer;
      width: 280px;
      transition: 0.25;
    }
    input, email{
      background: transparent;
      border: none;
      
    }
    .password{
      border-bottom: 1px solid;
      outline: none;
      height: 40px;
      cursor: pointer;
      width: 280px;
      

    }
    input, password{
      background: transparent;
      border: none;
      
    }
    div, btn{
      
      cursor: pointer;
      
      text-align: center;
     
  
    }
    .btn{
      background: linear-gradient(177deg, rgb(255, 255, 255), rgb(58, 154, 160));
    }
    .container2{

      padding: 40px;

      text-align:left;
    }
    div, mb-3{
      text-align: left;
    }
    
    .container3{

padding: 100px;
      flex-direction:row;
      flex-wrap:wrap;
      text-align: center;

    }
    .btn{
      border: none;
      outline: none;
      height: 40px;
      border-radius: 8px;
      padding: 0 15%;
      transition: 0.25;

    }
    .bb{
      text-align: center;
  
    }
    .reg{
      
      background-size: grey;
      color: gray;
      
    }
    .rr{
      text-align: center;
    }
.tt{
  
  padding:10 50px ;
  transition: 0.25;
}
.container32{
  padding: 3px;
  height: 100;
  margin-top: 100px;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 40px;
}
.mb{
  text-align: center;
}



.logotim{
margin: auto;
margin-left: 25%;
margin-top:5%;
text-align: center;
padding: 5%;
}
